<a href="https://colab.research.google.com/github/Kanakbaghel/Capstone_Project/blob/main/Data_Cleaning.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Import libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
# load datasets
customers = pd.read_csv('/content/customers.csv')
marketing = pd.read_csv('/content/marketing.csv')
products = pd.read_csv('/content/products.csv')
reviews = pd.read_csv('/content/reviews.csv')
sales = pd.read_csv('/content/sales.csv')

In [ ]:
# info about the datasets
customers.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99441 entries, 0 to 99440
Data columns (total 11 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   customer_id               99441 non-null  object
 1   customer_unique_id        99441 non-null  object
 2   customer_zip_code_prefix  99441 non-null  int64
 3   customer_city             99441 non-null  object
 4   customer_state            99441 non-null  object
 5   total_orders              98666 non-null  float64
 6   total_spent               98666 non-null  float64
 7   last_order                98666 non-null  object
 8   days_since_last_order     93717 non-null  float64
 9   churn_flag                99441 non-null  int64
 10  city                      0 non-null      float64
dtypes: float64(4), int64(2), object(5)
memory usage: 8.3+ MB

In [ ]:
marketing.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 510 entries, 0 to 509
Data columns (total 7 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   campaign_id    510 non-null    object
 1   customer_id    510 non-null    object
 2   channel        510 non-null    object
 3   start_date     510 non-null    object
 4   spend          510 non-null    int64
 5   conversions    510 non-null    int64
 6   response_rate  510 non-null    float64
dtypes: float64(1), int64(2), object(4)
memory usage: 28.0+ KB

In [ ]:
products.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32951 entries, 0 to 32950
Data columns (total 5 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   product_id                  32951 non-null  object
 1   category_english            32333 non-null  object
 2   product_name_lenght         32341 non-null  float64
 3   product_description_lenght  32341 non-null  float64
 4   product_photos_qty          32341 non-null  float64
dtypes: float64(3), object(2)
memory usage: 1.3+ MB

In [ ]:
reviews.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40977 entries, 0 to 40976
Data columns (total 5 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   review_id               40977 non-null  object
 1   order_id                40977 non-null  object
 2   customer_id             40977 non-null  object
 3   review_score            40977 non-null  int64
 4   review_comment_message  38928 non-null  object
dtypes: int64(1), object(4)
memory usage: 1.6+ MB

In [ ]:
sales.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 117604 entries, 0 to 117603
Data columns (total 11 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   order_id                       117604 non-null  object
 1   customer_id                    117604 non-null  object
 2   product_id                     117604 non-null  object
 3   category_english               115881 non-null  object
 4   price                          117604 non-null  float64
 5   freight_value                  117604 non-null  float64
 6   payment_type                   117601 non-null  object
 7   payment_value                  117601 non-null  float64
 8   order_purchase_timestamp       117604 non-null  object
 9   order_delivered_customer_date  115037 non-null  object
 10  total_price                    117604 non-null  float64
dtypes: float64(4), object(7)
memory usage: 9.9+ MB

In [ ]:
print("Datasets loaded successfully!")
print(f"Customers shape: {customers.shape}")

Datasets loaded successfully!
Customers shape: (99441, 11)