<a href="https://colab.research.google.com/github/Kanakbaghel/Capstone_Project/blob/main/Scripts/EDA.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# <font size=8 color=steelblue >**Phase 1: Data Cleaning and Validation in Google Colab**
------------------
-----------------

Now Let's shift to Google Colab for the fun part: **cleaning and exploring the data**.

This notebook will guide you step-by-step through loading your raw CSVs (exported from sqlite), handling nulls and outliers, standardizing everything, and diving into EDA. We'll keep it detailed, clear, and honest—frankly, data cleaning isn't glamorous, but it's the foundation for killer insights. By the end, you'll export 5 cleaned CSVs ready for Phase 2.

> <font color=slateblue size=5>**Import Libraries**
-----

In [1]:
# Install Libraries and Import
# Hey, first things first—let's grab the tools. This installs pandas, numpy, etc., if not already there.
!pip install pandas numpy matplotlib seaborn

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

# Set up plotting style for pretty visuals
sns.set(style="whitegrid")
plt.rcParams['figure.figsize'] = (10, 6)

print("Libraries loaded—ready to clean house!")

Requirement already satisfied: pandas in /usr/local/lib/python3.12/dist-packages (2.2.2)
Requirement already satisfied: numpy in /usr/local/lib/python3.12/dist-packages (2.0.2)
Requirement already satisfied: matplotlib in /usr/local/lib/python3.12/dist-packages (3.10.0)
Requirement already satisfied: seaborn in /usr/local/lib/python3.12/dist-packages (0.13.2)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.12/dist-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.12/dist-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in /usr/local/lib/python3.12/dist-packages (from pandas) (2025.3)
Requirement already satisfied: contourpy>=1.0.1 in /usr/local/lib/python3.12/dist-packages (from matplotlib) (1.3.3)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.12/dist-packages (from matplotlib) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in /usr/local/lib/python3.12/dist-packages (from matplotlib) (4.61.1)
Requirement already satisfied: kiwisolver>=1.3.1 in /usr/local/lib/python3.12/dist-packages (from matplotlib) (1.4.9)
Requirement already satisfied: packaging>=20.0 in /usr/local/lib/python3.12/dist-packages (from matplotlib) (25.0)
Requirement already satisfied: pillow>=8 in /usr/local/lib/python3.12/dist-packages (from matplotlib) (11.3.0)
Requirement already satisfied: pyparsing>=2.3.1 in /usr/local/lib/python3.12/dist-packages (from matplotlib) (3.2.5)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.12/dist-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Libraries loaded—ready to clean house!

In [ ]:
# Import libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
# load datasets
customers = pd.read_csv('/content/customers.csv')
marketing = pd.read_csv('/content/marketing.csv')
products = pd.read_csv('/content/products.csv')
reviews = pd.read_csv('/content/reviews.csv')
sales = pd.read_csv('/content/sales.csv')

In [ ]:
# info about the datasets
customers.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99441 entries, 0 to 99440
Data columns (total 11 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   customer_id               99441 non-null  object
 1   customer_unique_id        99441 non-null  object
 2   customer_zip_code_prefix  99441 non-null  int64
 3   customer_city             99441 non-null  object
 4   customer_state            99441 non-null  object
 5   total_orders              98666 non-null  float64
 6   total_spent               98666 non-null  float64
 7   last_order                98666 non-null  object
 8   days_since_last_order     93717 non-null  float64
 9   churn_flag                99441 non-null  int64
 10  city                      0 non-null      float64
dtypes: float64(4), int64(2), object(5)
memory usage: 8.3+ MB

In [ ]:
marketing.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 510 entries, 0 to 509
Data columns (total 7 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   campaign_id    510 non-null    object
 1   customer_id    510 non-null    object
 2   channel        510 non-null    object
 3   start_date     510 non-null    object
 4   spend          510 non-null    int64
 5   conversions    510 non-null    int64
 6   response_rate  510 non-null    float64
dtypes: float64(1), int64(2), object(4)
memory usage: 28.0+ KB

In [ ]:
products.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32951 entries, 0 to 32950
Data columns (total 5 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   product_id                  32951 non-null  object
 1   category_english            32333 non-null  object
 2   product_name_lenght         32341 non-null  float64
 3   product_description_lenght  32341 non-null  float64
 4   product_photos_qty          32341 non-null  float64
dtypes: float64(3), object(2)
memory usage: 1.3+ MB

In [ ]:
reviews.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40977 entries, 0 to 40976
Data columns (total 5 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   review_id               40977 non-null  object
 1   order_id                40977 non-null  object
 2   customer_id             40977 non-null  object
 3   review_score            40977 non-null  int64
 4   review_comment_message  38928 non-null  object
dtypes: int64(1), object(4)
memory usage: 1.6+ MB

In [ ]:
sales.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 117604 entries, 0 to 117603
Data columns (total 11 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   order_id                       117604 non-null  object
 1   customer_id                    117604 non-null  object
 2   product_id                     117604 non-null  object
 3   category_english               115881 non-null  object
 4   price                          117604 non-null  float64
 5   freight_value                  117604 non-null  float64
 6   payment_type                   117601 non-null  object
 7   payment_value                  117601 non-null  float64
 8   order_purchase_timestamp       117604 non-null  object
 9   order_delivered_customer_date  115037 non-null  object
 10  total_price                    117604 non-null  float64
dtypes: float64(4), object(7)
memory usage: 9.9+ MB

In [ ]:
print("Datasets loaded successfully!")
print(f"Customers shape: {customers.shape}")

Datasets loaded successfully!
Customers shape: (99441, 11)